@import (reference) '~app/less/variables';
@import (reference) '~app/less/mixins/importAll';
@import (reference) '~app/components/Loading/styles';

.adLoading {
  padding: @size;
  text-align: center;
  position: relative;

  &__wrapper {
    display: inline-block;
    position: relative;
    margin: 8px auto 4px;

    &:before {
      z-index: 1;
      content: '';
      position: absolute;
      left:0; top:0; right:0; bottom:0;
      opacity: .75;
      border-radius: 5px;
      background-color: @orangered;
      -webkit-animation: scaleout 1.5s infinite ease-in-out;
      animation: scaleout 1.5s infinite ease-in-out;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  // @TODO — temporary.
  .Loading{
    padding: 15px;
  }
}
